@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&display=swap');
body {
	background-color: #9b2226;
	color: #9b2226; 
	text-align: center;
}
h1{
	color: #9b2226; font-family: 'Stick No Bills', sans-serif;
	font-size: 52px
}
h2{
	background-color: #9b2226; font-family: 'Stick No Bills', sans-serif;
	color: white;
	font-size: 36px;
	width: 60%;
    margin: 0 auto;
}
p{
	font-family: 'Noto Sans Display', sans-serif;
	font-size: 20px
}
a{
	text-decoration: none;
}
div{
	width: 75%;
	padding: 24px;
	margin: 24px auto;
	background-color: white;
	border: solid 1px;
	color: black;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px;
}

img {
	border-radius: 100%;
}

.button-purple {
font-family: 'Noto Sans Display', sans-serif bold;
background-color: #9b2226;
color:white;
font-weight: bold;
padding:16px;
border-radius:6px;
border:1px #9b2226 solid;
margin: 24px auto;
display: block;
width: 50%;
transition:1s;
}

.button-purple:hover {
	backgroud-color: white;
	color: #9b2226;
	transition: 1s;
}
i{
	font-size: 48px;
	color: black (0, 0, 0, .4)
}

#list-inline li {
	display: inline;
	margin: 0 8px;

}
i:hover {
	color: white;
	transition: 1s;
}
#list-inline {
	padding: 0;
}
i{
	color:black;
}